#!/bin/bash
#SBATCH --job-name={{NAME}}
#SBATCH --nodes=1
#SBATCH --ntasks=1
#SBATCH --dependency=singleton
#SBATCH --mem-per-cpu=2200
#

source ~/.bashrc

conda activate p

python cli -p {{PATH}} -k {{NAME}}
