#!/bin/bash
#SBATCH --job-name={{NAME}}
#SBATCH --nodes=1
#SBATCH --ntasks={{NPROC}}
#SBATCH --partition=short
#SBATCH --mem-per-cpu=2200
#

hostname

nproc={{NPROC}}

c_w_dir=$PWD
cd $c_w_dir

#module load charmm/c45a1-gcc9.2.0-ompi4.0.2
{{ module }}
CHARMM=~/dev-release-dcm/build/cmake/charmm

mpirun -np $nproc $CHARMM < job.inp > job.out

# report values
grep "DYNA PRESS>" job.out > pressure.raw
grep "DYNA>" job.out > dyna.raw

