

!  loaded from sim1.template
FASTER ON
! Turning off SHAKE
!SHAKE BONH TOL 1.0E-8

!================================================================
!non bonded cut-offs
!================================================================
 NBOND CUTNB @ctl CUTIM @ctl CTOFnb @rc CTONnb @ci -
       atom vatom vdistance                        -
     VSWITCH  SHIFT CDIE eps 1.0  e14fac 1.0  wmin 1.5

ENERGY

!================================================================
! Minimize
!================================================================
MINI SD NSTEP 5000


!================================================================
! Write psf, crd and pdb file
!================================================================
WRITE PSF CARD NAME @datamin/int.psf
* PSF
*

WRITE COOR CARD NAME @datamin/int.crd
* CRD
*

WRITE COOR PDB NAME @datamin/int.pdb
* PDB
*

!================================================================
! Heat the system
!================================================================
OPEN WRITE UNIT 31 CARD NAME @dataheq/md_heq.res      ! Restart file
OPEN WRITE UNIT 32 FILE NAME @dataheq/md_heq.dcd      ! Coordinates file


DYNA VVER start timestep 0.0005 nstep {{NSTEP1}}  -
     nprint 1000 iprfrq 1000 ntrfrq 1000 -
     iunread -1 iunwri 31 iuncrd 32 iunvel -1 kunit -1 -
     nsavc 1000 nsavv 0 -
     nose rstn tref {{TEMP}} qref 50 ncyc 10 firstt 98.15


!================================================================
! Write psf, crd and pdb file
!================================================================
WRITE COOR CARD NAME @dataheq/md_heq.crd
* CRD
*

WRITE COOR PDB NAME @dataheq/md_heq.pdb
* PDB
*

!================================================================
! Equilibration with a thermostat
!================================================================
OPEN READ  UNIT 30 CARD NAME @dataheq/md_heq.res       ! Restart file
OPEN WRITE UNIT 31 CARD NAME @dataeq/md_eq1.res        ! Restart file
OPEN WRITE UNIT 32 FILE NAME @dataeq/md_eq1.dcd        ! Coordinates file


DYNA VVER restart timestep 0.0005 nstep {{NSTEP2}} -
     nprint 1000 iprfrq 1000 ntrfrq 1000 -
     iunread 30 iunwri 31 iuncrd 32 iunvel -1 kunit -1 -
     nsavc 1000 nsavv 0 -
     nose tref {{TEMP}}  qref 50 ncyc 10 firstt {{TEMP}}



!================================================================
! Write psf, crd and pdb file
!================================================================
WRITE COOR CARD NAME @dataeq/md_eq1.crd
* CRD
*

WRITE COOR PDB NAME @dataeq/md_eq1.pdb
* PDB
*

